---
layout: page
title: e-Cattle
subtitle: IoT platform to precision livestock
---

<div class="main-explain-area jumbotron">
  <h2>Overview</h2>

  <p>
    <b>e-Cattle</b> is a IoT (Internet of Things) platform for precision livestock. It's aims to centralize and padronize all sensor data collected in farms to beef cattle production.
    To this, provides a RESTful API service bus to receive sensor data from smart objects with differents sensors and unknow brands/models.
    All data is semantically organized, persisted in no-SQL database and available in another RESTful API, with query language support, to be consumed by
    high level applications. Both two service buses and database are implemented in farm with a totem device type named <b>BigBoxx</b>, build with a Raspberry PI.
    Therefore, the rural property do not need a internet connection, as is common in rural areas of Brazil.
  </p>

  <div class="get-started-wrap">
    <a class="btn btn-success btn-lg get-started-btn" href="/docs/quickstart">Get Started!</a>
  </div>

  <div class="partners">
	  <a href="http://please.cnpgc.embrapa.br" target="_blank"><div class="please"></div></a>
	  <a href="http://embrapa.br/gado-de-corte" target="_blank"><div class="embrapa"></div></a>
	  <a href="http://facom.ufms.br" target="_blank"><div class="facom"></div></a>
	  <a href="http://ufms.br" target="_blank"><div class="ufms"></div></a>
  </div>
</div>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">Read More</a>
    </div>

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
